.titre{
    text-align: center;
    background-color: rgb(87, 147, 209);
}
label{
    font-size: large;
    padding: 10px;

}
input{
    font-size: large;
    padding: 10px;
   

}
.acc{
    box-shadow: 1px 2px 3px 4px rgb(167, 167, 162);
    padding: 15px;
    width: 600px;
    height: auto;
    display: flex;
   margin: auto;
}
button{
    border-radius: 20px;
    background-color: rgb(87, 147, 209);
    padding: 15px;
}
option{
    font-size: large;
}